extends BaseAdmin

block scripts
	script.
		var mivar = "#{mivar}"
		function hola(){
			document.getElementById(mivar).innerHTML='<div class="alert alert-success" role="alert"><strong>Mensaje de exito: </strong>de esta manera podemos colocar alertas</div>';
		}

		function llenar(){		
			document.getElementById("prog").style="width:100%;";
		}
block body
	div.container
		br
		br
		br
		br
		div(class="jumbotron")
			h1 Buscatodo modulo Admin Admin 
			p Una manera de ser feliz		
		
