doctype html
html
	head
		title= title
		//meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width,', initial-scale='1')
		link(rel='stylesheet', href='/stylesheets/bootstrap-3.3.5-dist/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-3.3.5-dist/css/select2-bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-3.3.5-dist/css/select2.css')
		

		block scripts
	
	body		
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='http://getbootstrap.com/examples/theme/#',style="padding:22px;") Buscatodo
				#navbar.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a
								.select2-wrapper
									select.form-control.select2(multiple='multiple',style="width:380px;")
										option
										optgroup(label='Cracks/Hawaiian Time Zone')
											option(value='AK') Abel
											option(value='HI') Chino
										optgroup(label='Super crack')
											option(value='CA') Carpio
											option(value='NV') Julio		
											
									script(src='/stylesheets/bootstrap-3.3.5-dist/js/jquery.min.js')
									script(src='/stylesheets/bootstrap-3.3.5-dist/js/select2.js')
									script.
										$( ".select2" ).select2( { placeholder: "Buscar con palabras clave", maximumSelectionSize: 6 } );
										$( ":checkbox" ).on( "click", function() {
										$( this ).parent().nextAll( "select" ).select2( "enable", this.checked );
										});
										$( "#demonstrations" ).select2( { placeholder: "Select2 version", minimumResultsForSearch: -1 } ).on( "change", function() {
										document.location = $( this ).find( ":selected" ).val();
										} );
										$( "button[data-select2-open]" ).click( function() {
										$( "#" + $( this ).data( "select2-open" ) ).select2( "open" );
										});
						li
							a(href='http://getbootstrap.com/examples/theme/#',style="padding:22px;") Buscar						
						li.dropdown
							a.dropdown-toggle(href='http://getbootstrap.com/examples/theme/#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false',style="padding:22px;") 
								|Cuenta 
								span.caret
							ul.dropdown-menu
								li
									a(href='http://getbootstrap.com/examples/theme/#') Action
								li
									a(href='http://getbootstrap.com/examples/theme/#') Another action
								li
									a(href='http://getbootstrap.com/examples/theme/#') Something else here
								li.divider(role='separator')
								li.dropdown-header Nav header
								li
									a(href='http://getbootstrap.com/examples/theme/#') Separated link
								li
									a(href='http://getbootstrap.com/examples/theme/#') One more separated link				
		block body

		

		block finalito
			script(src='/stylesheets/bootstrap-3.3.5-dist/js/jquery.min.js')
			script(src='/stylesheets/bootstrap-3.3.5-dist/js/bootstrap.min.js')
			//script(src='/stylesheets/bootstrap-3.3.5-dist/js/docs.min.js')
			// IE10 viewport hack for Surface/desktop Windows 8 bug
			script(src='/stylesheets/bootstrap-3.3.5-dist/js/npm.js')
			script(src='/stylesheets/bootstrap-3.3.5-dist/js/select.js')
