doctype html
html
	head
		title= title
		//meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width,', initial-scale='1')
		link(rel='stylesheet', href='/stylesheets/bootstrap-3.3.5-dist/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-3.3.5-dist/css/select2-bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-3.3.5-dist/css/select2.css')
		//link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="/stylesheets/bootstrap-3.3.5-dist/css/star-rating.css" media="all" type="text/css")			

		block scripts
	
	body		
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='http://getbootstrap.com/examples/theme/#',style="padding:22px;") Buscatodo
				#navbar.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a
								.select2-wrapper
									include ../buscador.jade
						li
							a(href='http://getbootstrap.com/examples/theme/#',style="padding:22px;") Buscar
						li
							a(href='/usuario_admin/seleccionar',style="padding:22px;") Mis establecimientos
						li.dropdown
							a.dropdown-toggle(href='http://getbootstrap.com/examples/theme/#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false',style="padding:22px;") 
								|#{username} 
								span.caret
							ul.dropdown-menu
								li
									a(href='http://getbootstrap.com/examples/theme/#') Perfil
								li
									a(href='http://getbootstrap.com/examples/theme/#') Cerrar Sesion
								li
									a(href='http://getbootstrap.com/examples/theme/#') Something else here
								li.divider(role='separator')
								li.dropdown-header Nav header
								li
									a(href='http://getbootstrap.com/examples/theme/#') Separated link
								li
									a(href='http://getbootstrap.com/examples/theme/#') One more separated link						
		block body

		

		block finalito
			script(src='/stylesheets/bootstrap-3.3.5-dist/js/jquery.min.js')
			script(src='/stylesheets/bootstrap-3.3.5-dist/js/bootstrap.min.js')			
			script(src='/stylesheets/bootstrap-3.3.5-dist/js/bootbox.min.js')			
			//script(src='/stylesheets/bootstrap-3.3.5-dist/js/npm.js')
			script(src='/stylesheets/bootstrap-3.3.5-dist/js/select2.js')
			script(src="/stylesheets/bootstrap-3.3.5-dist/js/star-rating.js" type="text/javascript")
			

